<div class="panel panel-default upload animation-show-hide" flow-init flow-name="uploader.flow"
  ng-show="myUploader.visible"
  flow-file-added="!!{csv:1}[$file.getExtension()]"
  flow-file-success="uploader.flowFileSuccess($flow, $file, $message)"
  flow-upload-started="uploader.flowUploadStart()"
  flow-file-progress="uploader.flowFileProgress($file)">
  <div class="panel-heading">
    <h3 class="panel-title">File Upload</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
        <input type="file" accept=".csv" flow-btn onchange="angular.element(this).scope().fileNameChanged()"/>
        <p class="help-block" ng-repeat="file in uploader.flow.files"><button type="button" ng-click="file.cancel()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> {{file.name}}</p>
        <br>
        <div class="progress" ng-show="myUploader.progressbar.visible">
          <div class="progress-bar" role="progressbar"
          aria-valuenow="{{myUploader.progressbar.percent}}"
          aria-valuemin="0" aria-valuemax="100"
          style="width: {{myUploader.progressbar.percent}}%;">
            {{myUploader.progressbar.percent}}%
          </div>
        </div>
        <button class="btn btn-primary" ng-show='!myUploader.hideUploadButton' ng-click="myUploader.upload()"
        ng-disabled="!myUploader.uploadEnabled">Upload</button>
    </div>
  </div>
</div>
