<div ng-show="heatmapCtrl.visible">
  <!-- <div class='my-heatmap well'> -->
  <div class='my-heatmap'>
    <div class='form-inline'>
      <div class='form-group'>
        <label class='control-label' for='dependent-heatmap'>Z-Dimension</label>
        <select id='depentent-heatmap' class='form-control' ng-change='heatmapCtrl.selectChange()' ng-model="dependentSelect" ng-options="opt as opt.label for opt in heatmapCtrl.dependentOptions">
        </select>
        <span id='heatmap-pulse-container'></span>
        <label class='control-label' for='dependent-metric'>Regression Metric</label>
        <select id="dependent-metric" class='form-control', ng-init="metric = 'rSquared'", ng-model='metric', ng-change='heatmapCtrl.metricChange()'>
          <option value="rSquared">R²</option>
          <option value="aic">AIC</option>
          <option value="adjrSquared">Adjusted R² (linear regression only)</option>
          <option value="fstatistic">F statistic (experimental)</option>
        </select>
        <label ng-show="heatmapCtrl.orderVisible" for='order-heatmap'>Order Heatmap</label>
        <select ng-show="heatmapCtrl.orderVisible" id="order-heatmap" class='form-control'>
          <option value="name">by Name</option>
          <option value="count">by Frequency</option>
        </select>
        <span range-slider min="0" max="1" model-min="range.min" show-values="true" model-max="range.max" step="0.1" decimal-places="1" on-handle-up='heatmapCtrl.rangeSliderChange()'></div>
        <!-- Add Threejs Cube here -->
        <gl-cube></gl-cube>
      </div>
    </div>
    <div id="tooltip-heatmap" class="hidden">
      <p>
        <span id="value">
      </p>
      <div id='scatterplot'></div>
    </div>
  </div>
</div>
